// Custom.scss 
// Option B: Include parts of Bootstrap 

// Your variable overrides
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800);
@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,700);

$font-family-montserrat: "Montserrat";
$font-family-monospace: "Space Mono";

$primary: #3C2DC2;
$secondary: #fff;
$danger: #953C20; 
$success: #477F38;
$warning: #DDB967;
$info: #8283E4;
$light: #F8F9FA;
$dark: #4810ef;

$body-bg: $secondary;
$enable-rounded: false;

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    padding-top: 5rem;
}

.form-control {
    padding: 4px 10px;
    font-size: 0.9rem;
}

.home-section {
    .container-fluid {
        position: absolute;
        top: 30%;
    }
    h1 {
        font-family: $font-family-montserrat;
        font-weight: 700;
        color: $dark;
        font-size: 4rem;
    }
    h4 {
        font-family: $font-family-monospace;
        color: #676767;
        font-size: 2rem;
    }
    img {
        width: 40px;
    }
}

.logo {
    width: 40px;
}